<% if step_with_occurrence %>
	<p>
		&mdash; <%= step_with_occurrence.name %><br>
		<small><%= step_with_occurrence.house_label %></small>
		<br />
		<small><%= "Occurence score: #{step_with_occurrence.occurrence_score( step_with_occurrence.work_package_count, @concluded_work_packages.size, @bicamerally_concluded_work_packages.size )}" %></small>
	</p>
 <% end %>