<tr>
	<%= content_tag( 'td', "#{route.source_step.name} - #{route.source_step.step_type_name}" ) %>
	<%= content_tag( 'td', "#{route.target_step.name} - #{route.target_step.step_type_name}" ) %>
</td>