<article>
	<h3><%= link_to( work_package.triple_store_id, work_package_show_url( :work_package => work_package ) )  %>
	</h3>
	
		<p>
		<a href="<%= work_package.web_link %>"><%= work_package.web_link  %></a>
		
		
		</p>

</article>