<li>
	<h2>
		<% if business_item.web_link %>
			<%= link_to( business_item.step_names.html_safe, business_item.web_link ) %>
		<% else -%>
			<%= business_item.step_names %>
		<% end -%>
	</h2>
	<%= business_item.date %>
</li>