<h1>Routes: <%= @procedure.name %></h1>

<table>
	<thead>
		<tr>
			<%= content_tag( 'td', 'From' ) %>
			<%= content_tag( 'td', 'To' ) %>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => 'route/route', :collection => @procedure.routes %>
	</tbody>
</table>