<h1><%= link_to( @procedure.name, procedure_show_url( :procedure => @procedure ) ) %> routes</h1>

<table>
	<thead>
		<tr>
			<%= content_tag( 'td', 'From' ) %>
			<%= content_tag( 'td', 'To' ) %>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => 'route/route', :collection => @routes %>
	</tbody>
</table>