<h1><%= link_to( @procedure.name, procedure_show_url( :procedure => @procedure.triplestore_id ) ) %> work packages</h1>

<section>
	<%= render :partial => 'work_package/work_package', :collection => @procedure.work_packages %>
</section>