<!DOCTYPE html>
<html lang="en-GB">
<head>
  <title>Procedure</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
<header>
  <nav>
    <p>
    <a href="/procedures">Procedures</a>
    </p>
  </nav>
</header>
<main><%= yield %></main>
<footer>

<p>
  Source: <a href="https://github.com/fantasticlife/procedure">github.com/fantasticlife/procedure</a>
</p>


</footer>
</body>
</html>
