<!DOCTYPE html>
<html lang="en-GB">
<head>
  <title>Procedure</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/water.min.css">
</head>
<body>
<header>
  <nav>
	  <p>
	  <%= link_to( 'Procedures', procedure_list_url ) %>
	  &middot;
	  <%= link_to( 'Steps', step_list_url )  %>
  </p>
  </nav>
</header>
<main><%= yield %></main>


<footer>
	<%= link_to( 'Meta', meta_list_url ) %> - schema, source code and comments
</footer>

</body>
</html>
