<!DOCTYPE html>
<html lang="en-GB">
<head>
  <title>Procedure</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
<header>
  <nav>
	  <%= content_tag( 'p', link_to( 'Procedures', procedure_list_url ) ) %>
  </nav>
</header>
<main><%= yield %></main>


<footer>
	<%= link_to( 'Meta', meta_list_url ) %>
	&middot;
	<%= link_to( 'Schema', meta_schema_url )  %>
</footer>

</body>
</html>
