<!DOCTYPE html>
<html lang="en-GB">
<head>
  <title>Procedure</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>

<%= yield %>

</body>
</html>
